@charset "UTF-8";

h1{font-size:30pt;font-weight:bold;color:gray;}
body{color:green;}

table{
  
  border-collapse:separate;
  border-spacing: 0;
  table-layout:fixed;
}

th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  padding: 10px 0;
}

td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
/*
	Table column width in "index.html".
	nth-child(x) is indicate column what is it from left. 
*/
.listTable tr th:nth-child(1) {
  width:70px; /*id column*/
}
.listTable tr th:nth-child(2) {
  width:150px; /*name column*/
}
.listTable tr th:nth-child(3) {
  width:120px; /*birthday column*/
}
.listTable tr th:nth-child(4) {
  width:200px; /*phone column*/
}
.listTable tr th:nth-child(5) {
  width:250px; /*email column*/
}
.listTable tr th:nth-child(6) {
  width:300px; /*address column*/
}
.listTable tr th:nth-child(7) {
  width:70px; /*graduation column*/
}

/*
	buttons at all pages.
*/
input[type="button"],input[type="submit"]{
  font-size:20px;
  border:3px solid rgb(147,162,0);
  background-color: rgba(147,162,0,1);
  color: #fff;
}
input[type="button"]:hover,input[type="submit"]:hover{
  font-size:20px;
  border:3px solid rgb(147,162,0);
  background-color: rgba(147,162,0,.0);
  color:  rgba(147,162,0,1);
}