<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
<meta charset="UTF-8">
<title>学生名簿</title>
</head>
<body>
	<h1>生徒一覧</h1>
	
	<!-- This is menu block at top of index page. -->
	<form method="post" action="/" enctype="multipart/form-data">
		<input type="button" onclick="location.href='add_record'" value="新規追加">
		<input type="button" onclick="location.href='edit_select'" value="編集">
		<input type="button" onclick="location.href='find_record'" value="検索">
		<input type="button" onclick="location.href='delete_record'" value="削除">
		<input type="button" onclick="location.href='csvDownload'" value="CSVへエクスポート">
		<input type="submit" name="onCsvImportClick" value="CSVからインポート">
		<input type="file" name="upload_file">	
		
			<h2>項目の並べ替え</h2>
	<div th:if="${orderRadio}==0">
		<input type="radio" name="sort_radio" value="1" checked>名前順
	</div>
	<div th:unless="${orderRadio}==0">
		<input type="radio" name="sort_radio" value="1" >名前順
	</div>
	<div th:if="${orderRadio}==1">
		<input type="radio" name="sort_radio" value="2" checked>ID順
	</div>
	<div th:unless="${orderRadio}==1">
		<input type="radio" name="sort_radio" value="2" >ID順
	</div>
	<div th:if="${orderRadio}==2">
		<input type="radio" name="sort_radio" value="3" checked >誕生日順
	</div>
	<div th:unless="${orderRadio}==2">
		<input type="radio" name="sort_radio" value="3" >誕生日順
	</div>
		<input type="button" value="並べ替え" onclick="sort('sort_radio')">
	</form>
		<script type="text/javascript" src="js/script.js" th:href="@{/js/script.js}">
		</script>
	<p th:text="${file_name}"></p>
	<table>
	<tr th:each="line:${file_contents}">
		<td th:text=${line}></td>
	</tr>
	</table>
<div th:include="table_fragment::frag_body"></div>
</body>
</html>