<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
<meta charset="UTF-8">
<title>学生名簿</title>
</head>
<body>
	<h1>生徒一覧</h1>
	
	<!-- This is menu block at top of index page. -->
	<form method="post" action="/" enctype="multipart/form-data">
		<input type="button" onclick="location.href='add_record'" value="新規追加">
		<input type="button" onclick="location.href='edit_select'" value="編集">
		<input type="button" onclick="location.href='find_record'" value="検索">
		<input type="button" onclick="location.href='delete_record'" value="削除">
		<br>
			<h2>項目の並べ替え</h2>
		<br>
		<input type="submit" name="onOderByNameClick" value="名前順">
		<input type="submit" name="onOderByIdClick" value="ID順">
		<input type="submit" name="onOderByBirthdayClick" value="誕生日順">
		<br>
		<input type="submit" name="onCsvImportClick" value="CSVからインポート">
		<input type="file" name="upload_file">	
	</form>
	<p th:text="${file_name}"></p>
	<table>
	<tr th:each="line:${file_contents}">
		<td th:text=${line}></td>
	</tr>
	</table>
<div th:include="table_fragment::frag_body"></div>
</body>
</html>